<%= render 'items/header' %>
<div class="image_top">
    <div class="slider">
    <%= image_tag 'image_top.png', class: "top_image" %>
    <%= image_tag 'image_top2.png', class: "top_image" %>
    <%= image_tag 'image_top3.png', class: "top_image" %>
    </div>
</div>

<div class="items">
    <% @items[0..1].each do |item| %>
    <div class="item">
    <%= image_tag item.image_path, class: "image_small" %>
    <h3 class="item_name"><%= item.name %></h3>
    <h3 class="item_second_name"><%= item.second_name %></h3>
    <h3 class="item_price">¥<%= item.price.to_s(:delimited) %>(税込)</h3>
    <h4 class="item_description"><%= item.description %></h4>
    </div>
    <% end %>
</div>

<%= link_to image_tag("items_page.png"), "/items", class: "items_page" %>

<div class="image_middle">
    <div class="slider">
    <%= image_tag 'image_company.png', class: "company_image" %>
    <%= image_tag 'image_company2.png', class: "company_image" %>
    <%= image_tag 'image_company3.png', class: "company_image" %>
    </div>
</div>

<%= link_to image_tag("intro_page.png"), "/company", class: "intro_page" %>

<%= render 'items/footer' %>