<%= render 'items/header' %>
<div class="heading_cart">
</div>
<h2>カート</h2>
<div class="items">
    <% if @orders.blank? %>
        <h3 class="empty_cart"><%= "カートは空です" %></h3>
    <% end %>
    <% @orders.each do |order| %>
    <div class="item">
    <%= image_tag order.item.image_path %>
    <h3 class="item_name"><%= order.item.name %></h3>
    <h3 class="item_second_name"><%= order.item.second_name %></h3>
    <h3 class="item_price">¥<%= order.item.price %></h3>
    <h4 class="description"><%= order.item.description %></h4>
        <%= form_with url: update_item_path do |f| %>
            <div class="field">
                <%= f.label :quantity, "購入数", class:"order_quantity" %>
                <%= f.number_field :quantity, min:1,max:99, value: order.quantity, class:"number_field" %>
                <%= f.hidden_field :item_id, :value => order.item.id %>
            </div>
            <div class="action">
                <%= f.submit "変更する", class:"btn_change_quantity" %>
            </div>
        <% end %>
        <%= form_with url: delete_item_path do |f| %>
            <div class="field">
                <%= f.hidden_field :item_id, :value => order.item.id %>
            </div>
            <div class="action">
                <%= f.submit "削除", class:"btn_delete_item" %>
            </div>
        <% end%>
    </div>
    <% end %>
</div>
<% if @orders.blank? %>
    <%= button_to '商品一覧へ', {controller: 'items', action: 'index'}, {method: :get, class:"btn_item_index"} %>
<% else %>
    <div class="action">
        <%= button_to '商品一覧へ', {controller: 'items', action: 'index'}, {method: :get, class:"btn_item_index"} %>
    </div>
    <div class="action">
        <%= button_to 'レジへ進む', {controller: 'carts', action: 'save_user'}, {method: :get, class:"btn_go_confirm"} %>
    </div>
<% end %>
<%= render 'items/footer' %>