<div class="footer">
<ul class="footer_ul">
    <li><%= link_to image_tag('logo_footer.png'), '/', class: "logo_footer" %></li>
    <li class="footer_li"><%= link_to "商品一覧", '/items' , class: "footer_menu_text"%></li>    
    <li class="footer_li"><%= link_to "お支払い・配送", '/info', class: "footer_menu_text" %></li> 
    <li class="footer_li"><%= link_to "果樹園紹介", '/company', class: "footer_menu_text" %></li> 
    <li class="footer_li"><%= link_to "お問い合わせ", '/contact', class: "footer_menu_text" %></li> 
</ul>
<p>Copyright © 2019 鈴木果樹園 All Rights Reserved.</p>
</div>