<ul class="menu">
    <li><%= link_to image_tag('logo.png'), '/' %></li>
    <li><%= link_to "商品一覧", '/items' , class: "menu_text"%></li>    
    <li><%= link_to "お支払い・配送", '/info', class: "menu_text" %></li> 
    <li><%= link_to "果樹園紹介", '/company', class: "menu_text" %></li> 
    <li><span><%= link_to "お問い合わせ", '/contact', class: "menu_text" %></span></li> 
  <% if user_signed_in? %>
    <li class="mypage_button"><%= link_to "マイページ", edit_user_registration_path, class: 'navbar-link' %></li>
    <li class="logout_button"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'navbar-link'  %></li>
  <% else %>
    <li class="login_button"><%= link_to "ログイン", new_user_session_path, class: 'login'  %></li>
  <% end %>
  <li class="check_cart"><%= link_to '/carts' do %><%= image_tag 'cart.png' %>カートを見る<% end %></li>
</ul>