<%= render 'header' %>
<h2>商品一覧</h2>
<div class="items">
<% @items.each do |item| %>
<div class="item">
<p class="title_price"><%= item.title %><span class="price">¥</span><%= item.price %></p>
<p><%= item.note %></p>
</div>
<% end %>
</div>
<%= render 'footer' %>