<%= render 'header' %>
<h2>商品一覧</h2>
<div class="items">
    <% @items.each do |item| %>
    <div class="item">
    <%= image_tag 'image_small.png' %>
    <h3 class="item_name"><%= item.name %></h3>
    <h3 class="item_second_name"><%= item.second_name %></h3>
    <h3 class="item_price">¥<%= item.price %></h3>
    <h4 class="description"><%= item.description %></h4>
        <%= form_with url: add_item_path do |f| %>
            <div class="field">
                <%= f.label :quantity, "購入数" %>
                <%= f.number_field :quantity, min:1,max:99 %>
                <%= f.hidden_field :item_id, :value => item.id %>
            </div>
            <div class="action">
                <%= f.submit "カートに入れる" %>
            </div>
        <% end %>
    </div>
    <% end %>
</div>
<%= render 'footer' %>